body {
    margin: 0px 0px;
    background-color: #10ac84;
}

h1 {
    margin: 50px 0px;
    text-align: center;
    color: #222f3e;
}

.container {
    border: 20px solid brown;
    width: 400px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    border-radius: 15px;
}

.white {
    background-color: white;
}
.white:hover {
    background-color: blue;
}

.black {
    background-color: black;
}
